<section class="game_page">
	

	<section>

		<form action="/result" method="post">
			<button class="game_img" name="pick" value="spock">   </button>
			<button class="game_img" name="pick" value="lizard">  </button>
			<button class="game_img" name="pick" value="rock">    </button>
			<button class="game_img" name="pick" value="paper">   </button>
			<button class="game_img" name="pick" value="scissors"></button>

			<input   type="hidden" name="name" value=<%=@name%>>
		</form><!-- 
		<img src="/images/spock.png" alt="game pictures" class="game_img">
		<img src="/images/lizard.png" alt="game pictures" class="game_img">
		<img src="/images/rock.png" alt="game pictures" class="game_img">
		<img src="/images/paper.png" alt="game pictures" class="game_img">
		<img src="/images/scissors.png" alt="game pictures" class="game_img"> -->
	</section>
	
</section>





