<section class="game_page">
		<form action="/result" method="post">
			<button class="game_img" name="pick" value="spock">   </button>
			<button class="game_img" name="pick" value="lizard">  </button>
			<button class="game_img" name="pick" value="rock">    </button>
			<button class="game_img" name="pick" value="paper">   </button>
			<button class="game_img" name="pick" value="scissors"></button>

			<input   type="hidden" name="name" value=<%=@name%>>
		</form>
</section>





