<section class="index">
	
	<img src="/images/cover.jpg" alt="cover image">
	
	<form action="/" method="post">
		<input type="text" name="name" placeholder="Enter your name">

		<button  type="submit">Go!!</button>
	</form>

</section>