<section class="result">
	
	<form method="post" action="/new_game">
		<button type="submit" class="submit_btn" value="Play again?">Play again?</button>	
	</form>
	

	<form method="post" action="/new_player">
		<button type="submit" class="submit_btn" value="New Player?">New player?</button>
	</form>

</section>

<section id="target" class="result">

</section>